[submodule "external/SWE-Master"]
	path = external/SWE-Master
	url = https://github.com/RUCAIBox/SWE-Master.git
[submodule "external/DiRL"]
	path = external/DiRL
	url = https://github.com/OpenMOSS/DiRL
